/*Je met les valeur par default a zéro */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link-conatainer {
  background: rgb(107, 107, 107);
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-ul-conatainer {
display: flex;
list-style-type: none;
margin: 25px 10px;
}

/*
.link-li-conatainer {

}
*/

a {
  text-decoration: none;
  padding-left: 25px;
  color: white;
  font-size: 18px;
}

.hamburger {
  margin: 25px 10px;
  font-size: 18px;
}

.fa-solid {
  color: #fff;
}

.hamburger-dropdown {
  position: relative;
  display: inline-block;
}

.hamburger-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.hamburger-dropdown .hamburger-dropdown-content {
  display: block;
}



/* Grand écran */
@media screen and (min-width: 767px) {
  .hamburger, .hamburger-dropdown {
    display: none;
  }

{
  
}

  }

/*------------------------------------------------------*/

/* Petit écran */
@media screen and (max-width: 767px) {
  .link-ul-conatainer {
    display: none;
  }

  }





















/* Grand écran 
@media screen and (min-width: 1600px) {

  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container1, .container2, .container3, .container4 {
    background: #88c1d0;
    margin: 22px 20px;
    width  : 500px;
    height : 500px;
}
  }*/



  /* Moyen écran 
@media screen and (max-width: 1599px) and (min-width: 768px) {

  main {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    }

  .container1, .container2, .container3, .container4 {
    background: #88c1d0;
    margin: 20px 20px;
    width  : 350px;
    height : 350px;
    }
  }*/



/* Petit écran 
@media screen and (max-width: 767px) {

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container1, .container2, .container3, .container4 {
    background: #88c1d0;
    margin: 20px 20px;
    width  : 150px;
    height : 150px;
}
  }
*/